<h1 class="h5 mb-4">All videos</h1>

<div class="row">
  <% @videos.each do |video| %>
    <%= render "videos/preview", video: video do %>
      <p class="text-muted text-small">
        <span><%= video.user_name %></span><br>
        <span><%= pluralize(video.view_count, 'view') %></span> &middot;
        <span><%= distance_of_time_in_words(Time.now, video.created_at) %></span>
      </p>
    <% end %>
  <% end %>
</div>
