<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Vimio is a video-sharing platform</h1>
    <p class="lead">
      This is a test application developed by
      <a href="https://github.com/alexandremagro" target="_blank">
        @alexandremagro
      </a>
    </p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="#">Sign up</a>
    <a class="btn btn-link btn-lg" href="#">Sign in</a>
  </div>
</div>
