<div class="jumbotron rounded-0">
  <div class="container">
    <h1 class="display-4">Vimio is a video-sharing platform</h1>
    <p class="lead">
      This is a test application developed by
      <a href="https://github.com/alexandremagro" target="_blank">
        @alexandremagro
      </a>
    </p>
  </div>
</div>
