<% content_for :content do %>
  <%= render 'layouts/alerts' %>
  <main>
    <div class="container my-5">
      <%= yield %>
    </div>
  </main>
<% end %>

<%= render template: "layouts/application" %>
